<?xml version="1.0"?>
<!--
/**
 * EditionGuard
 *
 * This source file is proprietary property of EditionGuard. Any reuse or
 * distribution of any part of this file without prior consent is prohibited.
 *
 * @category    EditionGuard
 * @package     Editionguard_Editionguard
 * @copyright   Copyright (c) 2012 EditionGuard. All rights Reserved.
 */
-->
<config>
    <modules>
        <Editionguard_Editionguard>
            <version>1.0.2.0</version>
        </Editionguard_Editionguard>
    </modules>
    <frontend>
        <routers>
            <editionguard>
                <use>standard</use>
                <args>
                    <module>Editionguard_Editionguard</module>
                    <frontName>editionguard</frontName>
                </args>
            </editionguard>
            <downloadable>
                <use>standard</use>
                <args>
                    <modules>
                        <Editionguard_Editionguard before="Mage_Downloadable">Editionguard_Editionguard</Editionguard_Editionguard>
                    </modules>
                    <frontName>downloadable</frontName>
                </args>
            </downloadable>
        </routers>
        <secure_url>
            <editionguard>/editionguard/customer/</editionguard>
        </secure_url>
    </frontend>
    <admin>
         <routers>
            <editionguard>
                <use>admin</use>
                <args>
                    <module>Editionguard_Editionguard</module>
                    <frontName>editionguard</frontName>
                </args>
            </editionguard>
            <adminhtml>
                <args>
                    <modules>
                        <editionguard after="Mage_Adminhtml">Editionguard_Editionguard</editionguard>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
    <default>
        <editionguard>
            <settings>
                <email></email>
                <distributerid></distributerid>
                <sharedsecret></sharedsecret>
            </settings>
        </editionguard>
        <catalog>
            <downloadable>
                <editionguard>1</editionguard>
            </downloadable>
        </catalog>
    </default>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <editionguard translate="title" module="core">
                                            <title>EditionGuard</title>
                                            <sort_order>60</sort_order>
                                        </editionguard>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <fieldsets>
            <downloadable_sales_copy_link>
                <use_editionguard>
                    <to_purchased>*</to_purchased>
                </use_editionguard>
                <editionguard_resource>
                    <to_purchased>*</to_purchased>
                </editionguard_resource>
                <editionguard_src>
                    <to_purchased>*</to_purchased>
                </editionguard_src>
            </downloadable_sales_copy_link>
        </fieldsets>
        <models>
            <editionguard>
                <class>Editionguard_Editionguard_Model</class>
                <resourceModel>editionguard_mysql4</resourceModel>
            </editionguard>
            <editionguard_mysql4>
                <class>Editionguard_Editionguard_Model_Mysql4</class>
            </editionguard_mysql4>
            <downloadable>
                <rewrite>
                    <link>Editionguard_Editionguard_Model_Downloadable_Link</link>
                    <resource_link>Editionguard_Editionguard_Model_Resource_Downloadable_Link</resource_link>
                </rewrite>
            </downloadable>
            <downloadable_resource>
                <rewrite>
                    <link>Editionguard_Editionguard_Model_Resource_Downloadable_Link</link>
                </rewrite>
            </downloadable_resource>
        </models>
        <resources>
            <editionguard_setup>
                <setup>
                    <module>Editionguard_Editionguard</module>
                    <class>Editionguard_Editionguard_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </editionguard_setup>
            <editionguard_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </editionguard_write>
            <editionguard_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </editionguard_read>
        </resources>
        <blocks>
            <editionguard>
                <class>Editionguard_Editionguard_Block</class>
            </editionguard>
            <downloadable>
                <rewrite>
                    <adminhtml_catalog_product_edit_tab_downloadable_links>Editionguard_Editionguard_Block_Downloadable_Adminhtml_Catalog_Product_Edit_Tab_Downloadable_Links</adminhtml_catalog_product_edit_tab_downloadable_links>
                </rewrite>
            </downloadable>
        </blocks>
        <helpers>
            <editionguard>
                <class>Editionguard_Editionguard_Helper</class>
            </editionguard>
        </helpers>
    </global>
</config>
