/* 
    Document   : ZM-viewer.css
    Author     : Prasad.CH
    Created on : Mar 26, 2014, 1:16:00 PM
    Description: Zimplee Viewer CSS
*/

html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

#demo-viewer{
    height: 85%;
    width: 100%;
    padding-top: 0px;
}

.DP-clear{
    clear: both;
}

.DP-left{
    float: left;
}

.DP-right{
    float: right;
}

.DP-viewer{
    padding: 0px;
    margin: 0px;
    overflow: auto;
}

.DP-loader{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;
}

.DP-errorinfo{
    color: red;
    margin-left: -60px;
    font-size: 14px;
    text-align: center;
}


.DP-demo{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.DP-controls{
    background: #0094C0;
    width: 100%;
}

.DP-controls .DP-control{
    float: left;
    margin: 15px 5px 15px 5px;
}

.DP-controls .DP-control:hover{
    cursor: pointer;
}

/*
.DP-controls .DP-control:active{
    position: relative;
    top: 1px;
    left: 1px;
}
*/

@media screen and (min-width: 500px){
    .DP-controls .DP-left{
        width: 35%;
    }

    .DP-controls .DP-right{
        width: 35%;
    }

    .DP-controls .DP-center{
        width: 30%;
        float: left;
    }
}

.DP-controls .DP-center > div{
    margin: auto;
    width: 200px;
}

.DP-controls .DP-zoomIn{
    width: 24px;
    height: 24px;
    background: url("../img/DPReaderIcons.png") 144px 0;
}

.DP-controls .DP-zoomOut{
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background: url("../img/DPReaderIcons.png") 120px 0;
}

.DP-controls .DP-previouspage{
    width: 24px;
    height: 24px;
    background: url("../img/DPReaderIcons.png") 96px 0;
}

.DP-controls .DP-pagenav{
    float: left;
    margin: 15px 5px 15px 5px;
    border: none;
    width: 60px;
    height: 20px;
    text-align: center;
}

.DP-controls .DP-nextpage{
    width: 24px;
    height: 24px;
    background: url("../img/DPReaderIcons.png") 72px 0;
}

.DP-controls .DP-download{
    float: right;
    width: 24px;
    height: 24px;
    background: url("../img/DPReaderIcons.png") 0px 0;
}

.DP-controls .DP-fullscreen{
    float: right;
    width: 24px;
    height: 24px;
    background: url("../img/DPReaderIcons.png") 24px 0;
}

.DP-controls .DP-branding{
    float: right;
    width: 60px;
    height: 60px;
    background: url("../img/DPBrand.png") 0 0;
}

.DP-reset{
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    display: block;
    }
    body {
    line-height: 1;
    }
    ol, ul {
    list-style: none;
    }
    blockquote, q {
    quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    }
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }
}

/** CUSTOM Code **/
.DP-controls {
    background: none repeat scroll 0 0 #106151 !important;
}
.DP-controls .DP-branding {
    background: url("../img/ZMBrand.png") no-repeat scroll 0 -2px rgba(0, 0, 0, 0) !important;
}
.DP-controls .DP-zoomIn{
    background: url("../img/ZMReaderIcons.png") 144px 0;
}
.DP-controls .DP-zoomIn{
    background: url("../img/ZMReaderIcons.png") 144px 0;
}

.DP-controls .DP-zoomOut{
    background: url("../img/ZMReaderIcons.png") 120px 0;
}

.DP-controls .DP-previouspage{
    background: url("../img/ZMReaderIcons.png") 96px 0;
}
.DP-controls .DP-nextpage{
    background: url("../img/ZMReaderIcons.png") 72px 0;
}

.DP-controls .DP-download{
    background: url("../img/ZMReaderIcons.png") 0px 0;
}

.DP-controls .DP-fullscreen{
    background: url("../img/ZMReaderIcons.png") 24px 0;
}